/.idea/
/.*project
/.settings/

/.venv
/env/
pip-selfcheck.json
*.pyc
__pycache__
/build
/dist
/*.egg-info
/.eggs

profiles
puppet/extension_files

/config*.yaml
/registration*.yaml
*.log*
*.db
*.pickle
*.bak
