[Unit]
Description=Matrix puppeteer line bridge target
Requires=multi-user.target network.target
After=multi-user.target network.target
BindsTo=matrix-puppeteer-line-chrome.service
