[Unit]
Description=Chrome/Puppeteer backend for matrix-puppeteer-line
After=multi-user.target network.target

[Service]
; User=matrix-puppeteer-line
; Group=matrix-puppeteer-line
Type=notify
NotifyAccess=all
WorkingDirectory=/opt/matrix-puppeteer-line/puppet
ConfigurationDirectory=matrix-puppeteer-line
RuntimeDirectory=matrix-puppeteer-line
ExecStart=/usr/bin/xvfb-run -a yarn start --config ${CONFIGURATION_DIRECTORY}/puppet-config.json
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
